/*.box1{
  height: 500px;
  width: 500px;
  background-color: pink;
}*/
/*div{
    height: 100px;
    width: 100px;
    background-color: greenyellow;
    }
    span{
    background-color: hotpink;
    font-size: 30px;
   
    }
    .box{
    background-color:yellow;
    border: 2px solid black;
    width: auto;
    height: auto;
    }*/


   /* .container-fluid{
        height: 500px;
        
    }*/

    /*.div1{
        height: 200px;
        width: 400px;
        background-color: greenyellow;
        left: 50px;

    }
    .div2{
        height: 100px;
        width: 200px;
        background-color: rgb(222, 83, 180);
        top: 50px;
    }
    .div3{
        height: 70px;
        width: 100px;
        background-color: rgb(68, 188, 207);
        top: 50px;
    }
        */

 /* .container{
   
        text-align: center;
      }*/
      
  